body, html {
    background: #f1f1f1;
    color: #444;
    font-family: "Open Sans",sans-serif;
    margin:0px;
}

.menu_logo {
	float:left;
}

.nav_menu{
	float:right;
}

.nav_menu ul li{
	float:right;
	display:inline;
	padding:60px 15px;
}

.nav_menu ul li a{
	text-decoration: none;
    color: royalblue;
    font-size: 12px; 
    font-weight:bold;
}

.nav_menu ul li a.current{
    color: red;
}

.reg{
	/** padding-top:110px; **/
	color:royalblue;
	margin:0px;
	text-align:center;
}

.nav_menu ul li a:hover{
	text-decoration: none;
    color: red;
    font-size: 12px; 
    font-weight:bold;
}

.menu_user{
	float:right;
	padding-top:5px;
	padding-right:5px;
	color:royalblue;
	font-size:12px;
	position:absolute;
	top:5px;
	right:55px;

}
.menu_logo img {
	padding:17px;

}

#login {
    width: 320px;
    padding: 5% 0 0;
    margin: auto;
}

#login h1 {
    margin-bottom:0px;
}

#login h1 a {
    text-align: center;
}

#login h1 a {
    background-image: url(../img/logo.png);
    background-image: none,url(../img/logo.png);
    -webkit-background-size: 100px;
    background-size: 100px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 84px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 20px;
    padding: 0;
    width: 100px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.loginform {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.loginform p {
   margin-bottom:0px;
   margin-top:0px;
}

.loginform p label {
    color: #777;
    font-size: 14px;
}

.loginform p .input, .loginform p input[type=text], .loginform p input[type=password] {
    font-size: 24px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
}

#nav {
    margin: 24px 0 0;
    
}
#nav a {
	text-decoration: none;
    color: #999;
    font-size: 12px;
}

.smbtn {
	float:right;
	height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    vertical-align: baseline;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    background: royalblue;
    border-color: #0073aa;
}
.addbtn {
	float:left;
	margin-top:15px;
	height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    vertical-align: baseline;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    background: royalblue;
    border-color: #0073aa;

}
.error{
	color: red;
	font-size :11px;
	top:-13px;
	position:relative;
	font-style:italic;	
}

.error p {
	margin-top:10px;
}

#pdesc{
	margin-bottom:10px;
}
#menu{
	width:100%;
	background: white;
	height:25%;
	float:left;
	box-shadow: 1px 1px 5px #888888;
}

#priority_area{

	clear:left;
	width:95%;
	margin:auto;
}

.o_name{
	float:left;
	padding-top:5px;
}
.o_desc{
	float:left;
	font-size:15px;
	overflow:hidden;
	color:#696969;
	padding-top:9px;
}


#list_priority{
	margin-top:0px;
	clear:left;
	float:left;
}
#list_priority li div{
	display:table-cell;
	vertical-align:middle;
	width:200px;
	height:200px;
	text-align:center;
}
#list_priority li{
	width:200px;
	height:200px;
	float:left;
	color:white;
	font-size:20px;
	margin:40px;
	vertical-align:middle;
	box-shadow: 1px 1px 15px #777;
	list-style:none;
	border-radius: 10px;
	cursor:pointer;
}
#title {
	color:white;
	text-align:center;
	width:95%;
	margin:5px auto;
	font-size :30px;
	clear:left;
	Height:50px;
	padding-top:19px;
	border-radius: 8px;

}
.editbutton{
	width: 43px;
    position: absolute;
    right: -44px;
    border: 1px #696969;
  

}

#task{
	width : 45%;
	margin:auto;
}

#tasklist{
	font-size:13px;
	color: #696969;
	border-radius: 5px;
	width:500px;
	background-color:white;
}

#dashboard{
    clear:left;
    width:95%;
    margin:auto;
    background-color:white;

}
.nav_menu ul li.report_menu{
	padding:10px 0px;
	float:left;
	clear:both;
	color:royalblue;
	font-size:11px;
	cursor:pointer;
}
#ceo{
	width: 99%;
	margin:auto;
	background-color:white;	
}